<h1 id="tableLabel">Your tags</h1>

<p *ngIf="!tags?.length"><em>Loading...</em></p>

<button mat-raised-button (click)="openAddModal()">Add tag</button>

<div class="notes-container-wrapper">
  <div class="notes-container" *ngIf="tags.length">
    <div class="notes">
      <div class="notes-row">
        <div class="notes-column" *ngFor="let tag of tags">
          <div class="notes-card">
            <h3 class="notes-card-header">{{tag.header | shorten:15 }}</h3>
            <button mat-raised-button (click)="deleteNote(tag.id)">Delete tag</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
