<div class="modal-backdrop">
  <div class="modal-wrapper">
    <div class="modal-header">
      <h5 class="modal-title" id="modalLabel">Add reminder</h5>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="onNoClick()"
      ></button>
    </div>
    <div class="modal-body">
      <label for="datePicker">Choose date</label>
      <input id="datePicker" type="date" [(ngModel)]="data.dueDate"/>
      <label for="timePicker">Choose time</label>
      <input id="timePicker" type="time" [(ngModel)]="data.dueTime"/>
      <button mat-raised-button [matMenuTriggerFor]="menu" aria-label="Set a tag">
        Set note
      </button>
      <mat-menu #menu="matMenu" class="menu">
        <div *ngFor="let note of this.data.notes">
          <button mat-raised-button (click)="setNote(note.id, note.header)">{{note.header}}</button>
        </div>
      </mat-menu>
      <div *ngIf="this.data.noteHeader">
        <label>Selected note: </label>
        <label>{{this.data.noteHeader}}</label>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="onNoClick()">
        Close
      </button>
      <button type="button" class="btn btn-primary" (click)="onAddClick()">Add reminder</button>
    </div>
  </div>
</div>
